/*------------------------
--Custom classes starts--
-------------------------*/
.no-padding{
  padding: 0px !important;
}
.display-none{
   display:none;
}
.align-center {
    text-align: center;
    margin: 0 auto;
    display: block;
}
/*------------------------
---Custom classes ends---
-------------------------*/
body{
	overflow-x: hidden;
}
header#header {
    display: none;
}
header#header.header-scrolled {
    display: block !important;
}
.scrolldown {
  position: relative;
  width: 100%;
  height: 100%;
}
.scrolldown::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
.scrolldown h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 "Playfair Display", sans-serif;
  text-align: center;
  white-space: nowrap;
}

/*#scrolldown { background: url(https://picsum.photos/1200/800?image=575) center center / cover no-repeat;}*/
.scrolldown a {
  position: absolute;
  bottom: 20px;
  left: 47%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 600 18px/1 "Playfair Display", sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  text-align: center;
}
.scrolldown a:hover {
  /*opacity: .5;*/
      opacity: 1;
    color: #f58634;
}



#scrolldown a {
  padding-top: 60px;
}
#scrolldown a span {
  position: absolute;
  top: 0;
  /*bottom: -30px;*/
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  /*border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);*/
  box-sizing: border-box;
      animation-iteration-count: infinite;
}
#scrolldown a:hover span {
    /*border-left: 2px solid #f58634 !important;
    border-bottom: 2px solid #f58634   !important;*/
        animation-iteration-count: initial;
}
#scrolldown a span .fa {
    font-size: 36px !important;
}

#header.header-scrolled, #header.header-pages {
    background-color: #f58634;
}
section#why-us {
    padding: 0px;
    background: #ffdfc8;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
.row{
  margin: 0px;
}
.about .why-us-content {
    background: #ffffff;
    margin: 13% 0px 0px 10%;
    height: initial;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    box-shadow: 0px 0px 19px -8px #333333;
    position: relative;
    z-index: 9;
}
.about .why-us-content:after {
    content: "";
    background: url('../img/bg3.png') no-repeat;
    position: absolute;
    right: 0;
    width: 438px;
    height: 500px;
    bottom: 0px;
    z-index: -1;
}
.about .icon-outer {
    text-align: right;    
    padding: 10% 100px 10% 0px;
}
.about .icon-outer .icon {
    width: 60px;
    padding-bottom: 10px;
}
.about .icon-divider {
    border-bottom: 2px solid #000000;
    position: absolute;
    left: -95px;
    width: 100%;
}
.about .why-us-content-inner {
    padding: 50px 20px 30px 20px;
    font-size: 18px;
    color: #000000;
    
    /*background-position: bottom right;*/
}

.history .why-us-content {
    background: #ffffff;
    margin: 20% 10% 0px 0px;
    height: initial;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0px 0px 19px -8px #333333;
    position: relative;
    z-index: 9;
}
.history .why-us-content:after {
    content: "";
    background: url(../img/bg3.png) no-repeat;
    position: absolute;
    left: -345px;
    width: 100%;
    height: 500px;
    bottom: 0px;
    z-index: -1;
}
.history .icon-outer {
    text-align: left;
    padding: 10% 0px 10% 9%;
}
.history .icon-outer .icon {
    width: 60px;
    padding-bottom: 10px;
}
.history .icon-divider {
    border-bottom: 2px solid #000000;
    position: absolute;
    left: 79px;
    width: 106%;
}
.history .why-us-content-inner {
    padding: 100px 0px 50px 20%;
    font-size: 18px;
    color: #000000;
    /*background: url(../img/bg.png) no-repeat bottom left;*/
    /*background-position: bottom left;*/
}
.section-header img {
    width: 100px;
    padding: 80px 0px 20px;
}
section#services .container {
    background: #ffffff;
    box-shadow: 0px 8px 10px 5px #cccccc;
    height: 500px;
    border-radius: 0px 0px 27px 27px;
}
section#services {
    padding: 0px;
	height: -webkit-fill-available;
    display: block;
    position: relative;
    z-index: 9;
}
section#services:after {
    content: "";
    background: url(../img/bg2.png) no-repeat;
    position: absolute;
    right: 4px;
    width: 524px;
    height: 500px;
    bottom: 270px;
    z-index: -1;
}
.collection-subtitle {
    text-align: center;
    padding: 0px 15% 30px;
    line-height: 1.4;
}
h3.collection-title {
    font-size: 40px;
}
.collection-divider{
    width: 30%;
    margin: 0 auto;
    border-bottom: 2px solid #dab678;
    display: block;
    margin-bottom: 20px;
}
#services .title {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 18px;
    background: #f58634;
    width: 100%;
    padding: 20px 0px;
}
#services .box img {
    width: 100%;
}
.fleft-block {
    background: #f58634;
    padding: 50px;
}
#footer .footer-top .footer-info a {
    color: #ffffff;
}
#footer .footer-top .footer-info a:hover {
    color: #000000;
}
#footer .copyright a:hover {
    color: #8c3c01;
}


/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------Plan Your Visit page css starts here------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/*form styles*/
#msform {
  width: 100% ;
    margin: 0px auto;
    text-align: center;
    position: relative;
    padding: 30px 0px 50px;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  background: transparent;
    box-shadow: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    color: #000000;
    margin: 0px;
}
/*buttons*/
#msform .action-button {
      width: 100px;
    background: #000000;
    font-weight: normal;
    color: #ffffff;
    border: 0 none;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 5px;
    margin: 30px 5px 10px;
    font-size: 15px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #f58634;
    outline: none;
}
/*headings*/
.fs-title {
  font-size: 17px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    line-height: inherit;
}
.fs-subtitle {
     font-weight: normal;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    padding: 20px 30px 10px;
    line-height: inherit;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
      padding: 0px;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 18px;
    color: #333;
    background: white;
    border-radius: 40px;
    margin: 0px auto;
        font-family: sans-serif;
}
/*progressbar connectors*/
#progressbar li:after {
      content: '' !important;
    width: 70% !important;
    height: 2px !important;
    background: white !important;
    position: absolute !important;
    left: -35% !important;
    top: 18px !important;
    z-index: 1 !important; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #666666 !important;
  color: white !important;
  z-index: 1;
}
#progressbar li.active:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
  display: none;
}
/***********************************************************************************/

.planyourvisit section#why-us {
    padding: 0px;
    background: #ffffff;
}
.calendar-outer{
      background: #ffdfc8;
    border-radius: 0px 0px 35px 35px;
        height: -webkit-fill-available;
    max-height: 480px;
}
.divider {
    border-bottom: 2px solid #000000;
    margin: 15px 0px;
}
#datepicker input.form-control {
    background: transparent;
    box-shadow: none;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    font-size: 17px;
    color: #000000;
    margin: 0px;
}
.input-group-addon:last-child {
    border-left: 0;
    border-radius: 0px 20px 20px 0px;
    background: transparent;
    color: #000000;
}
.text-input{
      background: transparent;
    box-shadow: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 17px;
    color: #000000;
    margin: 0px;
}
.planyourvisit .why-us-content {
    background: #e12391;
        margin: 3% 0px;
}
.planyourvisit .about .why-us-content-inner {
    padding: 20px 20px;
  }
  i.fa.fa-clock-o {
    font-size: 50px;
    color: #ffffff;
}
.time-text h4 {
    margin: 0px;
    font-size: 21px;
}
.time-text h3 {
    margin: 0px;
    font-size: 25px;
    color: #ffffff;
}
.planyourvisit .about .why-us-content:after{
  display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
}
#carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
}
.attractions-slider div#carousel {
    /*position: absolute;
    top: -300px;*/
    margin-top: -300px;
}
#carousel img {
    border-radius: 50%;
}
#carousel h4 {
    text-align: center;
    padding-top: 15px;
}
#slider.flexslider .slides>li {
    display: inline-flex !important;
}
.flexslider .slides p {
    padding: 20px;
    font-size: 21px;
}