/*------------------------
--Custom classes starts--
-------------------------*/
.no-padding{
  padding: 0px !important;
}
.display-none{
   display:none;
}
.align-center {
    text-align: center;
    margin: 0 auto;
    display: block;
}
/*------------------------
---Custom classes ends---
-------------------------*/
body{
	overflow-x: hidden;
}

#header.header-scrolled, #header.header-pages {
    background-color: #f58634;
}
section#why-us {
    padding: 0px;
    background: #ffdfc8;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
.row{
  margin: 0px;
}
.about .why-us-content {
    background: #ffffff;
    margin: 13% 0px 0px 10%;
    height: initial;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    box-shadow: 0px 0px 19px -8px #333333;
    position: relative;
    z-index: 9;
}
.about .why-us-content:after {
    content: "";
    background: url('../img/bg3.png') no-repeat;
    position: absolute;
    right: 0;
    width: 438px;
    height: 500px;
    bottom: 0px;
    z-index: -1;
}
.about .icon-outer {
    text-align: right;    
    padding: 10% 100px 10% 0px;
}
.about .icon-outer .icon {
    width: 30%;
    padding-bottom: 10px;
}
.about .icon-divider {
    border-bottom: 2px solid #000000;
    position: absolute;
    left: -95px;
    width: 100%;
}
.about .why-us-content-inner {
    padding: 50px 20px 30px 20px;
    font-size: 18px;
    color: #000000;
    
    /*background-position: bottom right;*/
}

.history .why-us-content {
    background: #ffffff;
    margin: 20% 10% 0px 0px;
    height: initial;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0px 0px 19px -8px #333333;
    position: relative;
    z-index: 9;
}
.history .why-us-content:after {
    content: "";
    background: url(../img/bg3.png) no-repeat;
    position: absolute;
    left: -345px;
    width: 100%;
    height: 500px;
    bottom: 0px;
    z-index: -1;
}
.history .icon-outer {
    text-align: end;    
    padding: 10% 100px 10% 0px;
}
.history .icon-outer .icon {
    width: 30%;
    padding-bottom: 10px;
}
.history .icon-divider {
    border-bottom: 2px solid #000000;
    position: absolute;
    left: 80px;
    width: 111%;
}
.history .why-us-content-inner {
    padding: 100px 0px 50px 20%;
    font-size: 18px;
    color: #000000;
    /*background: url(../img/bg.png) no-repeat bottom left;*/
    /*background-position: bottom left;*/
}
.section-header img {
    width: 100px;
    padding: 80px 0px 20px;
}
section#services .container {
    background: #ffffff;
    box-shadow: 0px 8px 10px 5px #cccccc;
    height: 500px;
    border-radius: 0px 0px 27px 27px;
}
section#services {
    padding: 0px;
	height: -webkit-fill-available;
    display: block;
    position: relative;
    z-index: 9;
}
section#services:after {
    content: "";
    background: url(../img/bg2.png) no-repeat;
    position: absolute;
    right: 4px;
    width: 524px;
    height: 500px;
    bottom: 270px;
    z-index: -1;
}
.collection-subtitle {
    text-align: center;
    padding: 0px 15% 30px;
    line-height: 1.4;
}
h3.collection-title {
    font-size: 40px;
}
.collection-divider{
    width: 30%;
    margin: 0 auto;
    border-bottom: 2px solid #dab678;
    display: block;
    margin-bottom: 20px;
}
#services .title {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 18px;
    background: #f58634;
    width: 100%;
    padding: 20px 0px;
}
#services .box img {
    width: 100%;
}
.fleft-block {
    background: #f58634;
    padding: 50px;
}
#footer .footer-top .footer-info a {
    color: #ffffff;
}
#footer .footer-top .footer-info a:hover {
    color: #000000;
}
#footer .copyright a:hover {
    color: #8c3c01;
}