@media(max-width: 1440px){
	.main-nav a{
		font-size: 16px;
	}
	.about .why-us-content {
	    margin: 7% 0px 0px 5%;
 	}
 	.about .icon-divider {
	    left: -72px;
	    width: 125%;
	}
	.about .icon-outer {
	    padding: 10% 20px 10% 0px;
	}
	.about .why-us-content-inner {
	    padding: 30px 20px 20px 20px;
	    font-size: 15px;
	}
	.about .why-us-content:after {
	    width: 400px;
	    height: 450px;
	}
	.history .why-us-content {
	    margin: 18% 10% 0px 0px;
	}
	.history .why-us-content-inner {
	    padding: 100px 0px 50px 10%;
	    font-size: 14px;
	}
	.history .icon-divider {
	    left: 58px;
	    width: 106%;
	}
	.history .icon-outer {
	    padding: 10% 50px 10% 0px;
	}
	.history .why-us-content:after {
	    left: -375px;
	    width: 750px;
	    height: 380px;
	}
	section#services:after {
	    /*right: -97px;*/
	    width: 524px;
	    height: 500px;
	    bottom: -100px;
	}
	footer .footer-top .footer-newsletter {
	    margin-bottom: 95px !important;
	}
	#footer .footer-top h4 {
	    font-size: 16px;
	}
	.fleft-block {
	    padding: 50px 10px;
	}
	#footer .footer-top .footer-info h6 {
	    font-size: 14px;
	}
	#footer .footer-top .footer-info {
	    margin-bottom: 14px;
	}
	.map-block iframe {
	    height: 375px;
	}
	footer#footer:after {
	    height: 400px;
	    width: 500px;
	    left: -76px;
	}
	.about .icon-divider {
	    left: -37px;
	    width: 108%;
	}
}
@media (max-width: 1366px){
	.about .why-us-content-inner {
	    padding: 30px 10px 0px;
	}
	.history .icon-divider {
	    left: 52px;
	    width: 108%;
	}
	.history .why-us-content {
	    margin: 16% 10% 0px 0px;
	}
	.about .icon-divider {
	    left: -33px;
	    width: 107%;
	}
	#call-to-action .cta-btn {
	    margin-top: 15%;
	}
}
@media (max-width: 1280px){
	.main-nav a {
	    font-size: 14px;
	}
	#header.header-scrolled, #header.header-pages {
	    height: 90px;
	}
	#header .logo img {
	    width: 65px;
	}
	.about .why-us-content-inner {
	    font-size: 13px;
	}
	.about .why-us-content {
	    margin: 12% 0px 0px 5%;
	}
	.history .icon-divider {
	    left: 36px;
	    width: 115%;
	}
	.about .why-us-content:after {
	    width: 435px;
	    height: 350px;
	}
	.history .why-us-content:after {
	    height: 316px;
	}
	#call-to-action .cta-btn {
	    margin-top: 8%;
	}
	section#services:after{
		display: none;
	}
}
@media (max-width: 1200px){
	.main-nav a {
	    font-size: 13px;
	}
	.about .why-us-content {
	    margin: 6% 0px 0px 5%;
	}
	.history .why-us-content {
	    margin: 9% 10% 0px 0px;
	}
	.about .icon-divider {
	    left: -30px;
	    width: 106%;
	}
	.history .icon-divider {
	    left: 27px;
	    width: 118%;
	}
	#call-to-action .cta-btn {
	    margin-top: 27%;
	}
}